*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    border: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    display: block;
    margin: 0 auto;
}
.upper{
    text-transform: uppercase;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

#container{
    height: 1000px;
    width: 1000px;
    margin: 10px auto;
}
#container > ul > li > ul {
    display: none;
}
#container > ul > li:hover > ul {
    display: block;
    position: absolute;
    top:0;
    left: 200px;
}
#container > ul > li > a{
    width:200px;
}
#container >ul{
    position: relative;
}
#container ul > li>ul>li{
    width: 350px;
    float: left;
}
#container ul > li>ul>li>h4{
    /* width: 100%; */
}